# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# YOLO outputs (VERY IMPORTANT)
# =========================
runs/
*.pt
*.pth

# =========================
# Dataset (VERY IMPORTANT)
# =========================
dataset/
data/
images/
labels/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.temp

# =========================
# OpenCV / video files
# =========================
*.mp4
*.avi
*.mov.env
.env
.env
